.header-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
}

.App-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.App-nav li {
    margin: 0 15px;
    margin-bottom: 2rem;
}

.App-nav a {
    text-decoration: none;
    color: #1a1a1a;
    padding: 8px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.App-nav a.active-link,
.App-nav a:hover {
    background-color: hotpink;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.7rem;
}


